<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Font-Awesome -->

    <script src="https://kit.fontawesome.com/97132b68f0.js" crossorigin="anonymous"></script>


    <title>CropSage</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CropSage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/predict">Predict</a>
                </li>



            </ul>
        </div>
    </nav>

    <!--CAROUSEL-->



    <div class="container my-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/background.png" class="d-block w-100" alt="...">
                </div>
              
                </div>
            </div>
     
        </div>
    </div>

    <!-- blog -->
    <div class="container my-2">
        <!-- main -->

        <div class="row featurette mx-2">
            <div class="col-md-7 my-4">
                <h2 class="featurette-heading">Overview<span class="text-muted"></span></h2>
                <p class="lead">We use state-of-the-art machine learning and deep learning technologies to help you guide through the entire farming process. Make informed decisions to understand the demographics of your area, understand the factors that affect your
                    crop and keep them healthy for a super awesome successful yield.</div>
            <div class="col-md-5 my-4">
                <img src="/static/images/core.jpg" class="d-block w-100" alt="...">
            </div>
        </div>


        <div class="row featurette mx-2">
            <div class="col-md-7 order-md-2 my-3">
                <h2 class="featurette-heading">Parameters<span class="text-muted"></span></h2>
                <p class="lead">
                    Based on the requirements like which kind of climate is best suited for growing a particular crop,what will be the amount of water required for that crop to be grown,what will be the estimated rain for that crop,in what quantity must the chemicals of
                    the soil must be in,such that the crop can sustain more life and has no harm from threats,all these parameters are taken into consideration for building the model,which takes up these parameters and predicts the best type of crop/fruit
                    that the farmer must grow
            </div>
            <div class="col-md-5 order-md-1 my-5">
                <img src="/static/images/s3.jpg" height="250" ,width="250" class="d-block w-100" alt="...">
            </div>
        </div>



    </div>

    <footer class="py-3 text-center text-light bg-dark">
        Copyright © 2023 | CropSage<br>   
    </footer>


   
</body>

</html>
